<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile Page</title>
        <style>
            h1{
                color :red;
            }
        </style>
    </head>
    <body>
        <%- include('common/header'); %>
     <h1> Welcome, <%= user.name %></h1>
     <h3> email: <%= user.email %></h3>
     <h4>city: <%= user.city %></h4>
     <ul>
        <% user.skills.forEach((item)=>{ %>
         <li><%= item %></li>
       <%  }); %>
     </ul>
    </body>
</html>